.signup-form {
    max-width: 360px;
    margin: 60px auto;
    padding: 3em;
    background-color: #e8f4ed;
    border-radius: 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
        0 4px 4px rgba(0, 0, 0, 0.11), 0 8px 8px rgba(0, 0, 0, 0.11),
        0 16px 16px rgba(0, 0, 0, 0.11), 0 32px 32px rgba(0, 0, 0, 0.11);
    color: #1f9751;
}

.signup-form label {
    display: block;
    margin: 30px auto;
}

.signup-form span {
    display: block;
    margin-bottom: 6px;
}

.signup-form input {
    padding: 8px 6px;
    font-size: 1em;
    color: #777;
    width: 100%;
}